<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:replace="fragments/general.html::headerfiles('Employee List')"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Employee List</title>
      <link rel="stylesheet" href="../lab07.css">
</head>
<body>
	<h1>EMPLOYEES LIST</h1>
	<table>
		<tr class="primeraFila">
			<th class="primeraColumna">ID</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Role</th>
			<th>Salary</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="employee : ${trabajadores}">
			<td th:text="${employee.id}" class="primeraColumna"></td>
			<td th:text="${employee.firstName}"></td>
			<td th:text="${employee.lastName}"></td>
			<td th:text="${employee.role}"></td>
			<td th:text="${employee.Salary}"></td>
			<td><button class="update" th:attr="data-id=${employee.id}">Update</button></td>
			<td><button class="delete" th:attr="data-id=${employee.id}">Delete</button></td>
			
		</tr>
	</table>

	<script>
	const deleteButtons = document.querySelectorAll('.delete');
	const updateButtons = document.querySelectorAll('.update');
	var employeeId;
	deleteButtons.forEach(button => {
        button.addEventListener("click", function() {
            employeeId = this.getAttribute('data-id');
            window.location.href = '/employee/delete?ID=' + employeeId;
        });
    });

	updateButtons.forEach(button => {
        button.addEventListener("click", function() {
            employeeId = this.getAttribute('data-id');
            window.location.href = '/employee/update?ID=' + employeeId;
        });
    });
	</script>
	
</body>
</html>